@page
@model IdentityServer.Pages.Consent.Index
@{
}

<div class="page-consent">
    <div class="lead text-center mb-5">
        @if (Model.View.ClientLogoUrl != null)
        {
            <div class="client-logo mb-3">
                <img src="@Model.View.ClientLogoUrl" alt="@Model.View.ClientName" class="rounded" style="max-width: 100px;">
            </div>
        }
        <h1 class="display-6 mb-2">
            @Model.View.ClientName
        </h1>
        <p class="text-muted fs-5">is requesting your permission</p>
        <p class="text-muted">Uncheck the permissions you do not wish to grant.</p>
    </div>

    <div class="row justify-content-center">
        <div class="col-lg-8">
            <partial name="_ValidationSummary" />
        </div>
    </div>

    <form asp-page="/Consent/Index">
        <input type="hidden" asp-for="Input.ReturnUrl" />
        <div class="row justify-content-center">
            <div class="col-lg-8">
                @if (Model.View.IdentityScopes.Any())
                {
                    <div class="mb-4">
                        <div class="card elevation-2">
                            <div class="card-header">
                                <i class="fa-solid fa-user"></i>
                                Personal Information
                            </div>
                            <ul class="list-group list-group-flush">
                                @foreach (var scope in Model.View.IdentityScopes)
                                {
                                    <partial name="_ScopeListItem" model="@scope" />
                                }
                            </ul>
                        </div>
                    </div>
                }

                @if (Model.View.ApiScopes.Any())
                {
                    <div class="mb-4">
                        <div class="card elevation-2">
                            <div class="card-header">
                                <i class="fa-solid fa-tasks"></i>
                                Application Access
                            </div>
                            <ul class="list-group list-group-flush">
                                @foreach (var scope in Model.View.ApiScopes)
                                {
                                    <partial name="_ScopeListItem" model="scope" />
                                }
                            </ul>
                        </div>
                    </div>
                }

                <div class="mb-4">
                    <div class="card elevation-2">
                        <div class="card-header">
                            <i class="fa-solid fa-pencil"></i>
                            Description
                        </div>
                        <div class="card-body">
                            <div class="form-outline" data-mdb-input-init>
                                <input class="form-control" placeholder="Description or name of device" asp-for="Input.Description" autofocus>
                            </div>
                        </div>
                    </div>
                </div>

                @if (Model.View.AllowRememberConsent)
                {
                    <div class="mb-4">
                        <div class="form-check">
                            <input class="form-check-input" asp-for="Input.RememberConsent" id="rememberConsent">
                            <label class="form-check-label fw-semibold" for="rememberConsent">
                                Remember My Decision
                            </label>
                        </div>
                    </div>
                }

                <div class="d-flex gap-3 mb-4">
                    <button name="Input.button" value="yes" class="btn btn-primary btn-lg flex-fill" autofocus>
                        <i class="fa-solid fa-check me-2"></i>Yes, Allow
                    </button>
                    <button name="Input.button" value="no" class="btn btn-secondary btn-lg flex-fill">
                        <i class="fa-solid fa-times me-2"></i>No, Do Not Allow
                    </button>
                </div>

                @if (Model.View.ClientUrl != null)
                {
                    <div class="text-center">
                        <a class="btn btn-outline-info" href="@Model.View.ClientUrl" target="_blank">
                            <i class="fa-solid fa-info-circle me-2"></i>
                            More about @Model.View.ClientName
                        </a>
                    </div>
                }
            </div>
        </div>
    </form>
</div>
